<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ScanApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/custom-style.css">
    <style>
        .nav-link.active {
            color: #fff; 
            background-color: #007bff;
            border-radius: 5px; 
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
    function updateActiveNav(selectedScan) {
        $(".nav-link").removeClass("active");
        $("#" + selectedScan).addClass("active");
    }

    $(".nav-link").click(function (e) {
        e.preventDefault(); 

        const selectedScan = $(this).attr("href").substring(1);

        updateActiveNav(selectedScan);

        let options = [];
        let urlInputHtml = ` 
            <label for="urlInput" class="text-dark">Enter URL</label>
            <input type="text" id="urlInput" class="form-control" placeholder="Enter the URL to scan">
        `;
        let ipRangeInputHtml = `
            <label for="ipRangeStart" class="text-dark">Enter Start IP</label>
            <input type="text" id="ipRangeStart" class="form-control" placeholder="Enter start IP (e.g., 192.168.1.1)">
            <label for="ipRangeEnd" class="text-dark">Enter End IP</label>
            <input type="text" id="ipRangeEnd" class="form-control" placeholder="Enter end IP (e.g., 192.168.1.255)">
        `;

        if (selectedScan === "wapiti") {
            options = [
            "<option value='full-scan'>Full Vulnerability Scan (Wapiti)</option>",
            "<option value='xss-scan'>Scan for XSS (Cross-Site Scripting) (Wapiti)</option>",
            "<option value='sql-injection-scan'>Scan for SQL Injection (Wapiti)</option>",
            "<option value='file-inclusion-scan'>Scan for File Inclusion (Wapiti)</option>",
            "<option value='ssrf-scan'>Scan for SSRF (Server-Side Request Forgery) (Wapiti)</option>",
            ];

            $("#urlInputContainer").html(urlInputHtml);
        } else if (selectedScan === "whatweb") {
            options = [
                "<option value='global-scan'>Global Scan (WhatWeb) - Identifies basic technologies used by the web application.</option>",
                "<option value='aggressive-scan'>Aggressive Scan (WhatWeb) - Detects additional technologies and potential vulnerabilities.</option>"

            ];
            $("#urlInputContainer").html(urlInputHtml);
        } else if (selectedScan === "spiderfoot") {
            options = [
                  "<option value='scan-footprint'>Footprint Scan - Gathers general info and metadata about the target.</option>",
    "<option value='scan-investigate'>Investigate Scan - In-depth analysis of the target.</option>",
    "<option value='scan-passive'>Passive Scan - Collects passive info without direct interaction.</option>",
            ];

            $("#urlInputContainer").html(urlInputHtml); 
        }

        $("#scannerSelect").html(options);

        $('html, body').animate({ scrollTop: 0 }, 'slow');
    });

    updateActiveNav("wapiti");
    $("#scannerSelect").html([
        "<option value='full-scan'>Full Vulnerability Scan (Wapiti)</option>",
        "<option value='xss-scan'>Scan for XSS (Cross-Site Scripting) (Wapiti)</option>",
        "<option value='sql-injection-scan'>Scan for SQL Injection (Wapiti)</option>",
        "<option value='file-inclusion-scan'>Scan for File Inclusion (Wapiti)</option>",
        "<option value='ssrf-scan'>Scan for SSRF (Server-Side Request Forgery) (Wapiti)</option>",

    ]);

    $("#scannerSelect").change(function() {
        var selectedScanner = $(this).val();
        if (selectedScanner === "scan-ip-range") {

            $("#urlInputContainer").html(`
                <label for="ipRangeStart" class="text-dark">Enter Start IP</label>
                <input type="text" id="ipRangeStart" class="form-control" placeholder="Enter start IP (e.g., 192.168.1.1)">
                <label for="ipRangeEnd" class="text-dark">Enter End IP</label>
                <input type="text" id="ipRangeEnd" class="form-control" placeholder="Enter end IP (e.g., 192.168.1.255)">
            `);
        } else {

            $("#urlInputContainer").html(`
                <label for="urlInput" class="text-dark">Enter URL</label>
           <input type="text" id="urlInput" class="form-control" placeholder="Enter the URL to scan" value="${$('#urlInput').val()}">

            `);
        }
    });

    $("#startScan").click(function () {
        var scannerType = $("#scannerSelect").val();  
        var url = $("#urlInput").val(); 
        var ipStart = $("#ipRangeStart").val();
        var ipEnd = $("#ipRangeEnd").val();

        $("#error-message").remove();

        var urlPattern = /^(https?:\/\/)?(www\.)?([a-zA-Z0-9-]+\.[a-zA-Z]{2,})(\/[^\s]*)?$/i;
        if (!scannerType) {
            $("<div id='error-message' class='text-left alert alert-danger mt-3'>Please select a scanner.</div>").insertAfter("#startScan");
            setTimeout(function() { $("#error-message").fadeOut(); }, 3000); // Error disappears after 3 seconds
            return; 
        }

        if (scannerType !== "scan-ip-range") {
            if (!url || !url.match(urlPattern)) {
                $("<div id='error-message' class='text-left alert alert-danger mt-3'>Please enter a valid URL.</div>").insertAfter("#startScan");
                setTimeout(function() { $("#error-message").fadeOut(); }, 3000); // Error disappears after 3 seconds
                return;
            }
        } else {

            var ipPattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/; // Simple IP validation
            if (!ipStart || !ipEnd || !ipStart.match(ipPattern) || !ipEnd.match(ipPattern)) {
                $("<div id='error-message' class='text-left alert alert-danger mt-3'>Please enter valid start and end IP addresses.</div>").insertAfter("#startScan");
                setTimeout(function() { $("#error-message").fadeOut(); }, 3000); // Error disappears after 3 seconds
                return;
            }
        }
        var selectedScan = $(".nav-link.active").attr("id");

           var scanData = {
            scanOption: scannerType,
            url: url,
            softwareUsed:selectedScan,
            ipStart: ipStart,
            ipEnd: ipEnd
        };

        $.ajax({
            url: '/scan', 
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(scanData),
            success: function(response) {
              var formattedResponse = "<pre>" + response + "</pre>";
              $("#myiframe").contents().find("html").html(formattedResponse); 

            },
            error: function(error) {
                    var errorMessage = "<p>Error starting scan: " + error.responseJSON.message + "</p>";
                    $("#myiframe").contents().find("html").html(errorMessage); 


            }
        });
    });

});

    </script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Scanner Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#wapiti" data-toggle="tooltip" title="Wapiti - Vulnerability Scanner" id="wapiti">Scan Using Wapiti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#whatweb" data-toggle="tooltip" title="WhatWeb - Web Application Technologies Scanner" id="whatweb">Scan Using WhatWeb</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#spiderfoot" data-toggle="tooltip" title="SpiderFoot - Threat Intelligence Framework" id="spiderfoot">Scan Using SpiderFoot</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-xl mt-4">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label for="scannerSelect" class="text-dark">Select Scanning Options</label>
                        <select id="scannerSelect" class="form-control">
                            <option value="">Select a Scanner First</option>
                        </select>
                    </div>
                    <div class="col-md-8" id="urlInputContainer">
                        <label for="urlInput" class="text-dark">Enter URL</label>
                        <input autocomplete="on"  type="text" id="urlInput" class="form-control" placeholder="Enter the URL to scan">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-right">
                        <button id="startScan" class="btn btn-primary" data-toggle="tooltip" title="Start the scan">Start Scan</button>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 col-md-8">
                        <label for="output" class="text-dark">Output</label>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <iframe id="myiframe" class="w-100" title="Inline Frame Example" width="1050" height="400" src=""
                            style="border: 1px solid #ddd; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); border-radius: 8px;">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
